body {
	background-color: gray;
}

.header {
	font-family: "Georgia";
	text-align: center;
}

.section_header {
	font-weight:bold;
	font-size: 26px;
}

p {
	text-align: center;
	padding-right:15%;
	padding-left:15%;
	font-size: 24px;
}

img {
	width:"15%" ;
	height:"15%";
}